{% extends 'base.html.twig' %}

{% block body %}
    <header>Thank you for ordering! Have a nice day! :)</header>
    <h1>If you have any questions do be shy to ask! Please call us 2465445</h1>
{% endblock %}

