{% extends 'base.html.twig' %}

{% block body %}

    <div class="container body-content">
        <div class="row">
            <img class="text-center" src="http://merrychristmassurprises.com/wp-content/uploads/2017/12/Merry-Christmas-GIF-Free-Download.gif" width="1150" height="460" />
        </div>
    </div>

{% endblock %}
