{% extends 'base.html.twig' %}

{% block body %}
    {% for user in users %}
        <a href="{{ path('admin_user', {'id': user.id}) }}">{{ user.email }}</a>
        <footer>
            <div class="pull-right">
                {#{% if app.getUser() and app.getUser().isAdmin() %}#}
                <a href="{{ path('admin_delete', {'id':user.id}) }}" class="btn btn-danger btn-xs" >delete &raquo;</a>
                {#{% endif %}#}
                <a href="{{ path('homepage') }}" class="btn btn-default btn-xs">back &raquo;</a>
            </div>
        </footer>
        <hr />
    {% endfor %}

{% endblock %}
