{% extends 'base.html.twig' %}

{% block body %}
    {% for user in users %}
       <h2><a href="{{ path('admin_user', {'id': user.id}) }}" style="color: #161f29;">{{ user.email }}</a></h2>
        <footer>
            <div class="pull-right">
                <a href="{{ path('admin_delete', {'id':user.id}) }}" class="btn btn-danger btn-xs" >delete &raquo;</a>
                <a href="{{ path('homepage') }}" class="btn btn-default btn-xs">back &raquo;</a>
            </div>
        </footer>

    {% endfor %}
{% endblock %}
