{% extends 'base.html.twig' %}

{% block body %}
    <legend style="color: #0d1318">Add a new product</legend>
    <hr/>
    <div>
        <label style="color: #0d1318" for="form_name">Name</label>
        <input type="text" id="form_name" name="form[name]" />
    </div>

    <div style="color: #0d1318" >
   {{ form_row(form.category_id) }} {{ form(form.category_id) }}
    </div>

    <div style="color: #0d1318">
        <label for="form_price">Price</label>
        <input type="text" id="form_price" name="form[price]" />
    </div>

    <div style="color: #0d1318">
        <label for="form_inStock">In stock</label>
        <input type="text" id="form_inStock" name="form[inStock]" />
    </div>

    <div style="color: #0d1318">
        <label for="form_description">Description</label>
        <input type="text" id="form_description" name="form[description]" />
    </div>

    <div style="color: #0d1318">
        <input type="file" id="form_image" name="form[image]" />
    </div>

    <div  class="form-group">
        <button type="submit" class="btn btn-primary pull-left">Submit</button>
        <a href="{{ path('homepage') }}" class="btn btn-danger">Cancel</a>
    </div>

        {#<input type="submit" value="Submit" name="Submit" class="btn btn-primary pull-left">#}

{% endblock %}
