{% extends 'base.html.twig' %}

{% block body %}
    <legend style="color: #0d1318">Edit the product</legend>
    <hr/>
    <div style="color: #0d1318">
    {{ form_start(form) }}
    {{ form_end(form) }}
        <a href="{{ path('homepage') }}" class="btn btn-danger btn-xs">Cancel</a>
    </div>
    <div>

    </div>
{% endblock %}

