{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-content span=8 offset=2">
        <div class="">
            <form class="form-horizontal" action="{{ path('user_register') }}" method="post">
                <fieldset>
                    <legend class="text-center">Register</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_firstName">First name</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" id="user_firstName" placeholder="First name" name="user[firstName]" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_lastName">Surname</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" id="user_lastName" placeholder="Surname" name="user[lastName]" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_email">Email</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" id="user_email" placeholder="Email" name="user[email]" required type="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_password_first">Password</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="user_password_first" placeholder="Password" name="user[password][first]" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_password_second">Confirm Password</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="user_password_second" placeholder="Password" name="user[password][second]" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_address">Address</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="user_address" placeholder="Address" name="user[address]" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_number">Telephone Number</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="user_number" placeholder="Telephone Number" name="user[number]" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <button type="submit" class="btn btn-primary">Register</button>
                            <a class="btn btn-danger" href="{{ path('homepage') }}">Cancel</a>
                        </div>
                    </div>
                    {{  form_row(form._token) }}
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}